@import url("https://fonts.googleapis.com/css2?family=Honk&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:wght@700&family=Roboto+Condensed:ital@1&family=Roboto:ital,wght@0,100;0,400;1,100&family=Rubik&display=swap");

.principal_base {
  height: 100vh;
  display: grid;
  grid-template-rows: 9rem 9rem 1fr 3rem;
}

.empresa_contenedor {
  display: grid;
  grid-template-rows: 4rem 5rem;
  margin-left: 4rem;
}

.empresa_contenedor h1 {
  align-self: center;
  margin-left: 1rem;
  font-size: 1.4rem;
}

.empresa_busqueda {
  display: grid;
  grid-template-columns: 50rem 1fr;
}

.formulario_general {
  height: 5rem;
  background-color: #5ac1f8;
  display: flex;
  justify-content: left;
  align-items: center;
  box-shadow: 13px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 13px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 13px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.formulario_general label {
  margin-left: 3rem;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0 1rem;
  color: #fff;
}

.formulario_general select {
  font-size: 1rem;
  height: 1.4rem;
  border-radius: 107px 107px 107px 107px;
  -webkit-border-radius: 107px 107px 107px 107px;
  -moz-border-radius: 107px 107px 107px 107px;
}

option,
input[type="text"] {
  font-size: 1rem;
  height: 1.4rem;
  border-radius: 107px 107px 107px 107px;
  -webkit-border-radius: 107px 107px 107px 107px;
  -moz-border-radius: 107px 107px 107px 107px;
}

input[type="text"] {
  background-color: #fff;
  border: 1px solid #000;
  text-align: center;
}

/*Consultas Base de datos*/

.span_base {
  padding: 10px;
  font-size: 0.97rem;
  font-weight: 600;
}

.consulta_busqueda_versionactiva {
  display: none;
  grid-template-rows: 20rem 1fr;
}
.consulta_busqueda_updated {
  display: none;
}

.consulta_busqueda {
  height: 10rem;
}

.formulario_versionactiva {
  margin-top: 3rem;
  margin-left: 4rem;
  width: 50rem;
  grid-column: 1/2;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: repeat(2, 12rem) 12rem 1fr;
  grid-template-rows: 3rem 3rem 3rem 3rem 1fr;
  height: 17.2rem;
}

.empresa_consulta_contenedor {
  grid-row: 3/4;
  grid-column: 1/3;
}

#id_empresa_input {
  width: 7rem;
}

.volver {
  display: none;
  margin-left: 1rem;
  font-size: 1.7rem;
  cursor: pointer;
  justify-content: flex-end;
  &:hover {
    color: #000;
    transition: 3s;
  }
}

.version_updated {
  display: none;
  grid-row: 1/2;
  grid-column: 1/3;
}

.interno_updated {
  display: none;
  grid-row: 4/5;
  grid-column: 1/3;
  margin-bottom: 1rem;
}

.form_internos {
  height: 100%;
  width: 100%;
  grid-row: 5/6;
  grid-column: 1/3;
  display: flex;
  margin-left: 3.8rem;
  margin-bottom: 1.5rem;
}

.mas_internos {
  display: none;
  width: 50rem;
}

.span_internos {
  position: relative;
  transform: translateY(-50%);
  top: 0.8rem;
  left: 0.5rem;
  font-size: 3.5rem;
  color: #fff;
  font-weight: 600;
  &:hover {
    cursor: pointer;
  }
}

.mas_version {
  position: relative;
  bottom: 1rem;
  left: 4rem;
  display: none;
  grid-row: 2/3;
  grid-column: 1/3;
}

.condicion {
  display: none;
  grid-row: 2/3;
  grid-column: 1/3;
  margin-top: 1.6rem;
}

.condicion label {
  font-size: 1rem;
  font-weight: 900;
  color: #000;
}

.span_mas {
  position: absolute;
  user-select: none;
  top: 50%;
  left: 16.5rem;
  transform: translateY(-50%);
  font-size: 1.6rem;
  cursor: pointer;
}

.agregar_interno {
  font-size: 1.6rem;
  user-select: none;
}

.quitar_interno {
  margin-left: 0.3rem;
  user-select: none;
  font-size: 1.6rem;
}

#idTerminal,
#version {
  width: 3.8rem;
  margin-right: 0.2rem;
  margin-top: 0.09rem;
}

.span_menos {
  position: absolute;
  user-select: none;
  top: 50%;
  left: 19rem;
  transform: translateY(-50%);
  font-size: 1.6rem;
  cursor: pointer;
}

.span_internos {
  grid-row: 4/5;
  display: flex;
  width: 100%;
}

.checkbox_contenedor {
  grid-row: 1/4;
  grid-column: 3/5;
}

.checkbox_contenedor_titulo {
  grid-row: 1/2;
  grid-column: 4/5;
}

.checkbox_contenedor_titulodispositivo {
  grid-row: 1/2;
  grid-column: 3/4;
}

.checkbox_contenedor_opciones {
  grid-row: 2/5;
  grid-column: 4/5;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.checkbox_contenedor_dispositivo {
  grid-row: 2/5;
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.checkbox_contenedor_titulo h3,
.checkbox_contenedor_titulodispositivo h3 {
  text-align: center;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 900;
}

input[type="checkbox"] {
  cursor: pointer;
  width: 0.97rem;
  height: 0.97rem;
  text-decoration: none;

  &:checked {
    background-color: #000;
  }
}

select {
  text-align: center;
}

.button_enviar {
  color: #fff;
  background-color: #000;
  grid-row: 5/6;
  grid-column: 3/4;
  width: 6rem;
  height: 2.2rem;
  margin-bottom: 1rem;
  border-radius: 107px 107px 107px 107px;
  -webkit-border-radius: 107px 107px 107px 107px;
  -moz-border-radius: 107px 107px 107px 107px;
  justify-self: center;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  &:hover {
    background-color: #fff;
    color: #000;
    transition: 1s;
  }
}

.consulta_sql {
  width: 50rem;
  margin-left: 4rem;
  margin-top: 2rem;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 1fr 6rem;
  grid-template-rows: repeat(2 1fr);
}

.cuadro_consulta {
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
  text-align: center;
  grid-column: 1/2;
  grid-row: 1/3;
}

.span_copiar {
  display: block;
  cursor: pointer;
  font-size: 1.5rem;
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: center;
}

.span_borrar {
  grid-row: 2/3;
}
